.search_main{
    position: absolute;
    top:35px;
    left:25%;
    max-width:100vw;
}

.search_main > h2{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 530px;
    padding:10px;
    background-color: white;
    position: absolute;
    left:0;
    top:350px;
    margin-bottom: 10px;
}

.search_main > input{
    
    padding:20px;
    position: absolute;
    left:0;
    height: 30px;
    top:420px;
    border:none;
} 
.search_main > button{
    position: absolute;
    left:0;
    top:480px;
    text-transform: inherit !important;
    background-color: #ff7779;
    color:white;
    width:570px;

}

.search_main > button :hover{
    background-color:white ;
    color: #ff7779;
}
.search_main > input:focus{
    outline-width: 0;
}